<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="student_tab" translate="label" sortOrder="200">
            <label>Student Tab</label>
        </tab>
        <section id="student_section" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Student Section</label>
            <tab>student_tab</tab>
            <resource>Training_TestModule::student</resource>
            <group id="student_group" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Student Group</label>
                <field id="config_name" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Student Text Field</label>
                    <comment>Dummy Comment</comment>
                </field>
                <field id="config_select" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Student Select Field</label>
                    <comment>Dummy Select Comment</comment>
                    <source_model>Training\TestModule\Model\Adminhtml\Source\Studentsource</source_model>
                </field>
                <field id="config_multiselect" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Student Select Field</label>
                    <comment>Dummy Select Comment</comment>
                    <source_model>Training\TestModule\Model\Adminhtml\Source\Studentsource</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
